{{#partial "content"}}
<section>
    <div class="container">
        <div class="entry-list">
            {{#each blogEntries}}
            <article>
                <h2><a href="index/{{slug}}">{{title}}</a></h2>
                <time>{{date}}</time>
                <h4>TAG: {{tag}}</h4>
            </article>
            {{/each}}
        </div>
    </div>
</section>
{{/partial}}

{{>base.hbs}}