{{#partial "content"}}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>Publish New Entry</h2>
                <form action="/index/new/entry" method="post">
                    <label for="title"> Title</label>
                    <input type="text" name="title"><br>
                    <label for="content">Entry</label>
                    <textarea rows="5" name="content"></textarea><br>
                    <label for="tag"> Tag</label>
                    <input type="text" name="tag">
                    <input type="submit" value="Publish Entry" class="button">
                    <a href="/" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{{/partial}}
{{#partial "title"}}New Blog{{/partial}}
{{>base.hbs}}