{{#partial "content"}}
    <section>
        <div class="container">
            <div class="password">
                <form action="/index/{{blog.slug}}/password" method="post">
                    <label for="password">Enter Password</label>
                    <input type="password" name="password"><br>
                    <input type="submit" value="Submit" class="button">
                    <a href="/" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{{/partial}}
{{>base.hbs}}